.movieshow{
    display:grid;
  grid-template-columns: 300px 300px 300px;
  grid-row: auto auto auto;
  grid-column-gap: 150px;
  grid-row-gap: 125px;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
.seemore{
    width: 130px;
    height: 35px;
    border-radius: 10px;
    border: none;
    background-color: rgb(65, 210, 154);
    color: white;
    align-self: center;
}
.viewbutton{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding-bottom: 20px;
}
@media screen and (max-width:1300px) {
    .movieshow{
        grid-template-columns: 300px 300px;
        grid-row: auto auto;
    }
}
@media screen and (max-width:850px) {
    .movieshow{
        grid-template-columns: 300px 300px;
        grid-row: auto auto;
    }
}
@media screen and (max-width:850px) {
    .movieshow{
        grid-template-columns: 300px;
        grid-row: auto;
        grid-row-gap: 90px;
    }
}