.descimage{
    height: 200px;
    width: 300px;
    border-radius: 5px;
}
.descheader{
    display: flex; 
}
.desctitle{
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 0;
}
.maindesc{
    margin-left: 50px;
    position: relative;
    width: 90%;
}
.genres{
    display: flex;
}
.moviegenre{
    margin-right: 10px;
    font-size: small;
    margin-bottom: 5px;
}
.watchbuttons{
    position: absolute;
    left: 0;
    bottom: 0;
}
.watchbutton{
    height: 30px;
    width: 120px;
    border-radius: 5px;
    border: none;
    background-color: rgb(38, 168, 118);
    color: white;
    margin-right: 30px;
}
.watchlater{
    height: 30px;
    width: 100px;
    border-radius: 5px;
    border: 2px solid rgb(65, 210, 154);
    background-color: white;
    color: rgb(65, 210, 154);
}
.movietext{
    width: 80vw;
    margin-top: 50px;
    font-weight: 500;
}
.plotdesc{
    margin-bottom: 30px;
}
.description{
    margin-top: 40px;
     margin-left: 50px;
      margin-right: 50px; 
}
@media screen and (max-width:700px) {
    .descheader{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .maindesc{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 40px;
        margin-left: 0;
    }
    .watchbuttons{
        position: relative;
        margin-top: 30px;
    }
    .descimage{
        height: 200px;
        width: 310px;
    }
    .description{
        margin-top: 0;
         margin-left: 0;
          margin-right: 0; 
    }
    .movietext{
        text-align: center;
        width: auto;
    }
}
/* @media screen and (max-width:540px) {
    .watchbuttons{
        left: 12%;
    }
}
@media screen and (max-width:480px) {
    .watchbuttons{
        left: 7%;
    }
}
@media screen and (max-width:420px) {
    .watchbuttons{
        left: 4%;
    }
} */