.similarmovies{
    display:grid;
    grid-template-columns: 300px 300px 300px 300px;
    grid-row: 300px;
    grid-column-gap: 40px;
    grid-row-gap: 20px;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}
.showsheading{
    color: rgb(65, 210, 154);
}
.similardiv{
    margin-top: 100px;
}