.descimage{
    height: 170px;
    width: 270px;
    border-radius: 5px;
}
.descheader{
    display: flex; 
    
}
.desctitle{
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 0;
}
.maindesc{
    margin-left: 50px;
}
.genres{
    display: flex;
}
.moviegenre{
    margin-right: 10px;
    font-size: small;
    margin-bottom: 5px;
}