.dot {
    height: 13px;
    width: 13px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    background-color: rgb(65, 210, 154);
  }
.logo{
    display:grid;
  grid-template-columns: 17px 17px;
  grid-row: auto auto;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  margin-left: 4%;
  margin-top: 2%;
}
.navbutton{
    border-radius: 0;
    border: none;
    background-color: white;
    margin-right: 20px;
    color: gray;
    font-size: 15px;
}
.navbar{
    position: absolute;
    right: 10%;
    /* margin-top: 2%; */
}
.navigator{
    display: flex;
    align-items: center;
}
.lines{
    margin-top: 20px;
}
.indilines{
    margin-bottom: 1px;
    margin-top: 2px;
    background-color: rgb(84, 241, 202);
}
.active{
    color: rgb(65, 210, 154);
}
.navbutton:active{
    color: rgb(65, 210, 154);
}
/* .search{
    margin-left: 1%;
} */

.searchbar{
    width: 200px;
    height: 20px;
    background-color: rgb(237, 234, 234);
    /* border: 1px solid black; */
    font-size: small;
    border-radius: 10px;
    box-shadow: none;
    padding-left: 5px;
    /* justify-self: center;
    align-self: center;
    display: flex; */
    /* margin-left: 20px; */
}

.searchbardiv{
    margin-left: 30%;
    margin-top: 2%;
}
.nonactive{
    display: none;
}
.searchbar::-webkit-input-placeholder{
    text-align: center;
    padding-left: 0;
}
.more{
    display: none;
}
@media screen and (max-width:1100px) {
    .navbar{
        display: none;
        position: absolute;
        /* background-color: #f1f1f1; */
        /* min-width: 160px; */
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        right: 5px;
    }
    .more{
        display: block;
        position: absolute;
        right: 10px;
        background-color: rgb(65, 210, 154);
        color: white;
        border: none;
        padding: 5px;
        width: 100px;
    }
    .navbar a:hover {
        background-color: #ddd;
    }

    .dropdownnavbar:hover .navbar {
        display: flex;
        flex-direction: column;
        right: 0;
        margin-top: 26px;
        width: 110px;
    }
    .Search{
        margin: 0 auto;
        margin-top: 5px;
        margin-bottom: 3px;
    }
    .navbutton{
        margin-right: 0;
        margin-top: 5px;
    }
}
@media screen and (max-width:800px) {
    .searchbardiv{
        margin-left: 25%;
    }
}
@media screen and (max-width:640px) {
    .searchbardiv{
        margin-left: 20%;
    }
    .searchbar{
        width: 180px;
    }
}
@media screen and (max-width:510px) {
    .searchbardiv{
        margin-left: 10%;
    }
    .searchbar{
        width: 150px;
    }
}